{
  "presets": [
    ["env", {
      "modules": false,
      "targets": { "browsers": [ "Chrome 50" ] }
    }],
    "stage-2"
  ],
  "plugins": [
    "transform-runtime",
    ["angularjs-annotate", { "explicitOnly": true }]
  ],
  "comments": true
}
