<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <% for (var css in htmlWebpackPlugin.files.css) { %>
  <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
  <% } %>
  <title>{{ name }}</title>
  <meta name="viewport" content="width=device-width">
</head>
<body>
  <div ui-view></div>
  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
  <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
  <% } %>
</body>
</html>
